body
{
	overflow: hidden;
}

#sidebar
{
	position: fixed;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	color: #77818b;
	background-color: #12293f;
	z-index: 2;
}

.toolMenu
{
	color: #77818b;
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #18334d;
}

.toolButton
{
	color: #6d88a4;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #0c2032;
}

.toggle_visibility
{
	display: none;
}

.toolButton.active
{
	color: aquamarine;
	background-color: #2f5272
}

.toolMenu.active
{
	color: aquamarine;
	background-color: #2f5272
}